@using Syncfusion.Blazor.Gantt
@using CPMMethod.Logic


<h3>3. Oto podstawowy wykres Gantta</h3>
<br/>
<div class="table">
    <SfGantt TValue="GanttActivity" DataSource="@GanttActivities" Height="450px" Width="100%" HighlightWeekends="true">
        <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration"
                         Dependency="Predecessor"  Progress="Progress" Child="SubTasks"></GanttTaskFields>
        <GanttColumns>
            <GanttColumn Field="TaskId" HeaderText="Id Aktywności"></GanttColumn>
            <GanttColumn Field="TaskName" HeaderText="Opis"></GanttColumn>
        </GanttColumns>
        <GanttSplitterSettings Position="25%"> </GanttSplitterSettings>
    </SfGantt>
</div>


@code {
    [Parameter]
#pragma warning disable CS8618
        public List<Activity> Activities { get; set; }
#pragma warning restore CS8618
    
#pragma warning disable CS8618
    private List<GanttActivity> GanttActivities { get; set; }
#pragma warning restore CS8618

    protected override void OnInitialized()
    {
        GanttActivities = Activities.CalculateGanttActivities();
    }

}