@page "/"

<PageTitle>Badania operacyjne i logistyka</PageTitle>

<h1>Witaj w programie implementującym metody z zakresu Badań operacyjnych i logistyki</h1>

Z menu wybierz metodę z której chcesz skorzystać
